body{ 
    all: unset; 
    font-family: Arial, Helvetica, sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background: url(../img/fundodetela.gif) center center repeat-x; 
    color: var(--color-black); 
} 

main section{
    scale: 0;
    transition: 1s;
}

.visible{
    scale: 1;
    transition: 1s;
}

:root{ 
    --color-white: #fff; 
    --color-black: #000; 
    --color-purple: #32004A; 
} 

.content{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 1.4rem;
    height: 150px;
    width: 500px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1.6rem;
    padding: 3rem 4rem; 
} 
  

.content input{ 
    border: none; 
    background-color: transparent; 
    outline: none; 
    color: var(--color-white); 
    font-size: 1rem; 
    padding: .4rem; 
    border-bottom: 1px solid var(--color-black); 
} 

.content input::placeholder{ 
    color: var(--color-white); 
} 

.content input:focus{ 
    border-bottom: 1px solid var(--color-purple); 
} 

.glow-on-hover { 
    width: 150px; 
    height: 100px; 
    border: none; 
    outline: none;
    color: #fff; 
    background: #111; 
    cursor: pointer; 
    position: relative;
    z-index: 0; 
    border-radius: 10px; 
} 

.glow-on-hover:before { 
    content: ''; 
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); 
    position: absolute; 
    top: -2px; 
    left:-2px; 
    background-size: 400%; 
    z-index: -1; 
    filter: blur(5px); 
    width: calc(100% + 4px); 
    height: calc(100% + 4px); 
    animation: glowing 20s linear infinite; 
    opacity: 0; 
    transition: opacity .3s ease-in-out; 
    border-radius: 10px; 
} 

.glow-on-hover:active { 
    color: #000 
} 

.glow-on-hover:active:after { 
    background: transparent; 
} 

.glow-on-hover:hover:before { 
    opacity: 1; 
} 

.glow-on-hover:after { 
    z-index: -1; 
    content: ''; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: #111; 
    left: 0; 
    top: 0; 
    border-radius: 10px; 
} 

@keyframes glowing { 
    0% { background-position: 0 0; } 
    50% { background-position: 400% 0; } 
    100% { background-position: 0 0; } 
} 

.content button{ 
    margin-top: 2rem; 
    font-size: 1rem; 
} 

 
 
 
 

 
  
  